*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #2f1893;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.headercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headercontainer .heading{
    color: whitesmoke;
    font-size: 25px;
}

#Overview{
    color:#5d4cab;
    font-size: 20px;
}
#purchase{
    position: relative;
    padding:5px 15px;
    background-color: #e93a7d;
    border: 2px solid #e93a7d;
    border-radius:20px;
}
.headercontainer .navbar a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
.headercontainer .navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}
.sectioncontainer{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sectioncontainer .content{
    margin-left: 110px;
    height: 496px;
    width: 427px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;    
    padding-bottom: 30px;
}
.sectioncontainer .content h1{
    display: flex;
    justify-content: left;
    color: whitesmoke;
    font-size: 60px;
}
.sectioncontainer .content h3{
    font-size: 22px;
    color: whitesmoke;
    font-weight: 400;
}
#lmore{
    padding:5px 15px;
    background-color: #e93a7d;
    border: 2px solid #e93a7d;
    border-radius:50px;
    color: whitesmoke;
    height: 45px;
    width: 140px;
    font-size: 18px;
}
.sectioncontainer .login{
    position: relative;
    height: 600px;
    width: 470px;
    border: 2px solid white;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 120px;
    border-radius: 5px;
}
.sectioncontainer .login h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e0e62;
}
.sectioncontainer .login .head{
    justify-content: center;
}
#inp1 ,#inp2{
    height: 45px;
    width: 350px;
    border: 2px solid grey;
    border-radius: 50px;
    font-size: 18px;
    padding-left: 20px;
}
#check{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#check:checked{
    accent-color:  #22af90;
}
.sectioncontainer .login .lbtn{
    height: 45px;
    width: 350px;
    border-radius: 50px;
    font-size: 18px;
    background-color:#482BE7;
    border: 2px solid #482BE7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.or{
    text-align: center;
    position: relative;
}
.or::before{
    background-color: grey;
    display: block;
    width: 150px;
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
}
.or::after{
    background-color: grey;
    display: block;
    width: 150px;
    height: 1px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
}
.sectioncontainer .login .checkstyle{
    display: flex;
    align-items: center;
    justify-content: left;
}
.sectioncontainer .login .checkstyle span{
    font-size: 18px;
    color: grey;
}
#tbtn{
    height: 45px;
    width: 350px;
    border-radius: 50px;
    font-size: 18px;
    background-color:#1DA1F2;
    border: 2px solid #1DA1F2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.sectioncontainer .login .or{
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 16px;
}
.sectioncontainer .login .last{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectioncontainer .login .last a{
    font-size: 18px;
    color: #22af90;
    text-decoration: none;
    font-weight: 550;
}
.sectioncontainer .login .last p{
    font-size: 18px;
    color:grey;
}
